/*Convención de nombres: Usar kebab-case para nombres de clases e ids*/
html {
    background-color: beige;
}

h1 {
    text-align: center;
}

.page-title {
    font-size: 50px;
}

.task-description_box {
    border: 3px solid black;
}
